  {{>header}}
  <div class="container-error">
        <p>{{params}}</p>
        <div class="content">

            <div class="round">
                <p>404</p>
                </div>
            <h1>page not found</h1>
        </div>
        <button onclick="window.history.back()"> back</button>
    </div>

   {{>footer}}