
{{>header}}
	<section id="client">
			<h1> Our Clients </h1>
			<div class="client-container">
				<div class="client">
					<img src="./images/clients/redcross.png">
				</div>
				<div class="client">
					<img src="./images/clients/bheri.png">
				</div>
				<div class="client">
					<img src="./images/clients/health2.png">
				</div>
				<div class="client">
					<img src="./images/clients/health.jpg">
				</div>
			</div>
	</section>
	<section> 


<p> Kamla medicine Distributor company which focuses on research, manufacture and distribution of medical devices since 1997, Kamla Medicine Distributor locates in Nepalgunj city, Banke,

Kamla Medicine Distributor has more than 30 employees, covering an area of 450 square meters. we have a complete R&D, production and sales system, also we have got ISO9001, ISO13485 quality management system certification, ISO14001 environmental management system certification, BSCI Business Social Compliance Initiative and many other international standards Certification.

The company has strong technical force and has obtained a number of core technology patents with independent intellectual property rights. Since its foundation, Kamla Medicine Distributor is dedicated to develop and expanding our line of medical devices, till now we have more than 20 categories of products containing Pulse Oximeter, Sphygmomanometer, ECG, EEG, Ultrasound Equipment, Patient Monitor and Image Equipment, etc.，, and we own more than 100 national patent, 56 software copyright, our products have got CE, FDA and Canada/Japan/Brazil approval. Now, Kamla Medicine Distributor products were distributed to over 55 districts and regions.
</p>
	</section>

	
{{>footer}}