{{>header}}
<section id="contact">
		<h1> Contact us</h1>
		<div class="google-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1041.784402969312!2d81.62245695884106!3d28.06265919076704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2snp!4v1631595101782!5m2!1sen!2snp"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<form>
			<div class="form-group">
				<label for="username"> Full Name </label>
				<input type="text" id="username" placeholder="Fullname" class="input-control">
			</div>
			<div class="form-group">
				<label for="email"> email </label>
				<input type="text" id="email" placeholder="xyz@example.com" class="input-control">
			</div>
			<div class="form-group">
				<label for="city"> City </label>
				<input type="text" placeholder="City" id="city" class="input-control">
			</div>
			<div class="form-group">
				<label for="country"> country </label>
				<input type="text" placeholder="country" id="country" class="input-control">
			</div>

			<div class="form-group">
				<label for="comment"> comments </label>
				<textarea type="text" col="40" row="10" placeholder="write somethings.........." id="comment" class="input-control"></textarea>
			</div>
			<button id="form-submit"> send </button>
	</form>
	</section>
{{>footer}}