{{>header}}
	<section id="home">
		<div id="carousel" class="carousel">
			<button id="prev"> Prev</button>
			<button id="next"> Next</button>
			<div class="carousel-img ">
					
					<img src="./images/01.jpg" alt="img-carousel">
			</div>
			<div class="carousel-img ">
					
					<img src="./images/02.jpg" alt="img-carousel">
			</div>
			<div class="carousel-img">
					
					<img src="./images/03.jpg" alt="img-carousel">
			</div>
			<div class="carousel-img">
				
					<img src="./images/04.jpg" alt="img-carousel">
			</div>
		</div>
	</section>
	<section>
		<div class="parallax">
			<div> 
				<h1> Demo medical website  <h1>
					<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists.  It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing</p>
					<button> more </button>
			<div>
		</div>
	</section>
	<section id="product">
		<h1> Our Products </h1>
		<div  class="products">


		

		<div class="product slide-left">
			<div class="product-img">
				<img src="./images/products/lab_chemical_instrument.jpg" alt="product1">
			</div>
			
			<div class="img-desc">
				<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div>

		<div class="product slide-right">
			<div class="product-img">
				<img src="./images/products/patient.jpg" alt="product2">
			</div>
			
			<div class="img-desc">
				<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div>

		<div class="product">
			<div class="product-img">
				<img src="./images/products/ecg.jpg" alt="product3">
			</div>
			
			<div class="img-desc">
				<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div>

		<div class="product">
			<div class="product-img">
				<img src="./images/products/blood_bank.jpg" alt="product4">
			</div>
			
			<div class="img-desc">
				<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div>
	</div>
	</section>
		<section>
		<div class="parallax">
			<div>
					<h1> Demo medical website  <h1>
					<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists.  It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing</p>
					<button> more </button>
			</div>
		</div>
	</section>
	<section id="service">
		<h1> our Services </h1>
		<div class="gallery">
			<div class="product-gallery">
			<div class="product-img col">
				<img src="./images/04.jpg" alt="product5">
			</div>
			
			<div class="img-desc col">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div>
		<div class="product-gallery">
			<div class="product-img col">
				<img src="./images/02.jpg" alt="product6">
			</div>
			
			<div class="img-desc col">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div>
		<div class="product-gallery">
			<div class="product-img col">
				<img src="./images/01.jpg" alt="product7">
			</div>
			
			<div class="img-desc col">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
		</div></div>
	</section>


{{>footer}}