{{>header}}

<section>
<h1> Products </h1>

	<div class="product-container">
		<div class="header">

		</div>
		<div class="products">
			{{#each products}}
			<div class="product">
				<div class="product-img">
					<img src="/images/products/blood_bank.jpg">
				</div>
			<div class="product-body">
				{{this.name}}
				<div> Brand : {{this.brand}}</div>
				<div> manufacturer : {{this.manufacturer}} </div>
				<div> model : {{this.model}} </div>
			</div>
			<div class="img-desc">
				<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health. Medicine aims to promote and maintain health and wellbeing.</p>
			</div>
			</div>
				{{/each}}
		</div>
	</div>
</section>
{{>footer}}