{{>header}}
<section>
	<div class="cover-container"> 
			<div class="cover-page">
			 	

			 </div>
			 	<div class="breed"> <a href="/"> home </a> <div class="arrow-right"> </div> <a href="/products"> Products </a> </div>
	</div>
</section>
<section>
<div class="product-page-container"> 

<h1> Products </h1>
	<div class="products-container">
	

		<div class="products-c" id="product-list">
			
		</div>
				<div class="paginate">

					<a href="javascript:prevPage()" id="prevBtn"> Prev </a>
					<div id="paginate-no" class="paginate-no"> </div>
					<a href="javascript:nextPage()" id="nextBtn"> next </a>
					<div> pages: <span id="page"> </span> </div>
					<select onchange="itemOnPage()">
						<option value="20">10</option>
						<option value="20">20</option>
					</select>
				</div>
	</div>

	</div>
</section>
<script>
	document.title = "Medical Website - products"

</script>
{{>footer}}