{{>header}}
<section>
	<div class="cover-container"> 
			<div class="cover-page">
			 	

			 </div>
			 	<div class="breed"> <a href="/"> home </a> <div class="arrow-right"> </div> <a href="/products"> Products </a> </div>
	</div>
</section>
<section>
<div class="product-page-container"> 

<h1> Products </h1>
	<div class="products-container">
	

		<div class="products-c" id="product-list">
			
		</div>
				<div class="paginate">

					<a href="javascript:prevPage()" id="prevBtn"> Prev </a>
					<div id="paginate-no" class="paginate-no"> </div>
					<a href="javascript:nextPage()" id="nextBtn"> next </a>
					<div> pages: <span id="page"> </span> </div>
					<select onchange="itemOnPage()">
						<option value="20">10</option>
						<option value="20">20</option>
					</select>
				</div>
	</div>

	</div>
</section>
<script>
	document.title = "Medical Website - products"
	let productItems = document.getElementById("product-list");

let prevBtn = document.getElementById("prevBtn");
	let nextBtn = document.getElementById("nextBtn");
	let listing = document.getElementById("product-list");
	let span_page= document.getElementById("page");
	let paginateNo = document.getElementById("paginate-no");
	let tbody = document.getElementById("tbody");
////////////////////product list page/////////////////======================================

	let productLists = JSON.parse(localStorage.getItem("products"));
	let productsItems = productLists.products;
	let current_page = 1;
	let itemsPerPage = 9;
	function itemOnPage(){
		console.log(this)
	}
function nextPage(){
	if(current_page < noOfPages()){
	current_page++;
	changePage(current_page)
	
}
}
function prevPage(){
	if(current_page > 1){
		current_page--;
		changePage(current_page)
	}
}
function changePage(page){

	if(page < 1) page = 1;
	if(page> noOfPages()) page = noOfPages();
	
	span_page.innerHTML =` ${page} of ${noOfPages()}`;
	// console.log((page -1)* itemsPerPage, (page* itemsPerPage))
	listing.innerHTML = "";
	for(var i = (page-1) * itemsPerPage; i < (page * itemsPerPage); i++){
		//console.log(i);
		listing.innerHTML += `
					<div class="product">
				<div class="product-img">
					<img src="/images/products/blood_bank.jpg" alt="product-name">
				</div>
			<div class="product-body">
				 ${productsItems[i].name}
				<div> Brand : ${productsItems[i].brand}</div>
				<div> manufacturer : ${productsItems[i].manufacturer} </div>
				<div> model : ${productsItems[i].model} </div>
			</div>
			<div class="img-desc">
				${productsItems[i].name}
				<div> Brand : ${productsItems[i].brand}</div>
				<div> manufacturer : ${productsItems[i].manufacturer} </div>
				<div> model :${productsItems[i].model} </div>
		
				<p> Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease.....</p>
			</div> 
			</div>

		`;
	}
	if(page == 1){
		prevBtn.style.visibility = "hidden";
	}else{
		prevBtn.style.visibility = "visible";
	}
	if(page == noOfPages()){
		nextBtn.style.visibility = "hidden"; 
	}else{
		nextBtn.style.visibility = "visible";
	}
}
function noOfPages(){
	return Math.ceil(productsItems.length / itemsPerPage);
}
window.onload = function () {
	changePage(1)
}



for(var i = 0; i < noOfPages(); i++){

	let noDiv = document.createElement("div");
	if(i == 0){
			noDiv.className = "pagi active";
	}else{


			noDiv.className = "pagi";
	}
	 noDiv.innerHTML = i+1;
	paginateNo.appendChild(noDiv);
}

for(var i =0; i < paginateNo.children.length; i++){
		paginateNo.children[i].addEventListener('click',() => {

				let currentActive = document.getElementsByClassName("active");
	 // paginateNo.children[current_page-1];
	currentActive[0].className = currentActive[0].className.replace(" active" ,"");
	// if(page !== current_page){
	// 	currentActive.classList.remove("active");
	// }
	this.className += ' active'
		})

}

// product view Into Scroll animate
function isElementIntoView(ele){
	let rect = ele.getBoundingClientRect();
	// console.log(rect)
	return rect.bottom >= 0 && rect.right >= 0 
		&& rect.top < (window.innerHeight || document.documentElement.clientHeight)
		&& rect.left < (window.innerWidth || document.documentElement.clientWidth) 
}
function cb () {
	if(productItems.children){
		console.log(productItems)
	for(var i of productItems.children){
		if(isElementIntoView(i)){
			i.classList.add("pop-up")
		}else{
			i.classList.remove("pop-up")
		}
	}
}


}
window.addEventListener("scroll", cb);
window.addEventListener("load", cb);
</script>
{{>footer}}