</body>
<footer>
	<h1>demo website.</h1>
	
	<div class="contact-info">
		<a href="tel: +977985684584"> 9858085028 </a>
		<a href="mailto: "> gmail_gmail@gmail.com </a>
	</div>
	<p> &copy; all right reserved  <span id="date"> </span> </p>
</footer>
 <!-- <script src="/src/js/main.js"> </script> -->
  <script src="public/src/js/main.js"> </script> 
<script> 
		let date = new Date();
		document.getElementById("date").innerHTML = date.getFullYear();

	</script>
</body>
</html>