<footer>
	<h1>kamla Medicine distributors pvt ltd.</h1>
	
	<div class="contact-info">
		<a href="tel: +9779858020028"> 9858020028 </a>
		<a href="mailto: dependraagrawal@gmail.com"> dependraagrawal@gmail.com </a>
	</div>
	<p> &copy; all right reserved  <span id="date"> </span> </p>
</footer>
 <script src="/src/js/main.js"> </script> 
<script> 
		let date = new Date();
		document.getElementById("date").innerHTML = date.getFullYear();
		console.log(date)
	</script>
</body>
</html>