
<!DOCTYPE html>
<html>
<head>
	<title>Medical Website</title>
	<link rel="stylesheet" type="text/css" href="/src/css/style.css">
	<link rel="stylesheet" type="text/css" href="/src/css/404page.css">
	<link rel="stylesheet" type="text/css" href="/src/css/anim.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/images/05.png">
	<link rel="manifest"  href="/manifest.json">

</head>
<body>

<!-- <header>
	<div class="logo">
		<h1>
			<a href="./index.html">
		Kamla Medicine distributors </a> </h1>
	</div>
	<div class="contact-info">
		<a href="tel: +9779858020028"> 9858020028 </a>
		<a href="mailto: dependraagrawal@gmail.com"> dependraagrawal@gmail.com </a>
	</div>
</header>
-->

<nav>
		<div class="logo">
		
			<a href="/">
		<h1>
		medical website
	</h1>
	</a> 
	</div>
	<ul class="nav-links"> 
	<li><a href="/" class="link">home </a></li>
	<li><a href="/products" class="link"> product </a></li>
	<li><a href="/contact" class="link"> contact</a></li>
	<li><a href="/about" class="link">about us</a></li>
		<!-- <a href="#client">Client</a> -->
		<!-- <li class="dropdown"> 
			<div class="drop-btn"> products </div>
				<ul class="dropdown-content"> 
				<li><a href="/"> Electrocardiograph </a></li>
				<li><a href="/"> Surgical </a></li>
				<div  class="dropdown">
					<div class="drop-btn"> respiratory aids</div> 
					<div class="dropdown-content"> 
						<a href="#"> Nebulizer</a> 
						<a href="#">oxygen concentrator</a>
					</div>
				</div >
				
				<li><a href="/"> stethoscope </a></li>
			<div class="dropdown">
					<div class="drop-btn"> accessories</div> 
					<div class="dropdown-content"> 
						<a href="#"> patient monitor</a> 
						<a href="#">oxygen concentrator</a>
					</div>
				</div>
			</ul>
		</li> -->

	</ul>
</nav>
<div class="scrollTop" id="scrollTop">
	top
</div>