
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Medical Website</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="demo progessive web app">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
	<meta name="application-name" content="progessive web app">
	<meta name="theme-color" content="#fff">
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-title" content="Progressive Web Application" />
	<link rel="canonical" href="http://localhost:3000"/>
	<link rel="stylesheet" type="text/css" href="public/src/css/style.css">
	<link rel="stylesheet" type="text/css" href="public/src/css/404page.css">
	<link rel="stylesheet" type="text/css" href="public/src/css/anim.css">
	<link rel="shortcut icon" type="image/png" href="public/images/05.png">
	<link rel="apple-touch-icon" href="public/images/05.png">
	<link rel="manifest"  href="/manifest.json">

</head>
<body>
<nav>
		<div class="logo">
		
			<a href="/">
		<h1>
		medical website
	</h1>
	</a> 
	</div>
	<ul class="nav-links"> 
	<li><a href="/" class="link">home </a></li>
	<li><a href="/products" class="link"> product </a></li>
	<li><a href="/contact" class="link"> contact</a></li>
	<li><a href="/about" class="link">about</a></li>
	</ul>
</nav>
<div class="scrollTop" id="scrollTop">
	&#8599;
</div>