section{
	animation: fade-in .8s ease
}

@keyframes fade-in{
	from{
		opacity: 0;
	}to{
		opacity: 1;
	}
}

@media screen and (max-width: 880px){
	section .products{
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	}
}